.cards-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  grid-template-rows: auto auto;
}

.about-card {
  grid-column: span 2;
}

.skills-card {
  grid-column: span 1;
}

.certificates-experience-container {
  display: flex;
  flex-direction: column;
  grid-column: span 1;
}

.social-container {
  display: flex;
  flex-direction: column;
  grid-column: span 1;
  cursor: pointer;
}

.projects-card {
  grid-column: span 1;
}

.social-container img {
  height: 8rem;
}

.card {
  padding: 1rem;
  background-color: #333;
  color: white;
  border: 1px solid white;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  transition: transform 0.4s ease, box-shadow 0.4s ease;
  opacity: 0;
  transform: translateY(20px);
}

.card:hover {
  transform: translateY(-30px) scale(1.1) rotateY(10deg);
  box-shadow: 0 30px 60px rgba(0, 0, 0, 0.5);
}

.card.reveal {
  opacity: 1;
  transform: translateY(0);
}

.card h3 {
  margin: 0;
  font-size: 1.25rem;
}

.card-content {
  display: flex;
  align-items: center;
}

.card-content img {
  border-radius: 0;
  margin-right: 1rem;
  width: 150px;
  height: 150px;
}

.certificates-card a {
  color: #007bff;
  text-decoration: none;
  display: block;
  font-weight: bold;
  margin-bottom: 0.5rem;
}

.skills-icons img {
  height: 50px;
  margin: 0.5rem;
}

.image-only-card img {
  width: 100%;
  height: 8rem;
  display: flex;
  justify-content: center;
}

/* Dark Theme */
.dark-theme {
  background-color: #333;
  color: white;
}

/* Light Theme */
.light-theme {
  background-color: #f0f0f0;
  color: black;
}

.image-only-card {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.image-only-card img {
  width: 100%;
  height: 75%;
  object-fit: contain;
}

.project-container{
  margin-top: 1rem;
}

.project-detail-container{
  margin-top: 1rem;
}

.about-card img{
  border: 2px solid whitesmoke;
}

/* MainSection.css */
.theme-toggle-card {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100px;
}

.toggle-button {
  width: 60px;
  height: 30px;
  background: linear-gradient(to right, #111, #444);
  border-radius: 30px;
  padding: 5px;
  cursor: pointer;
  transition: background 0.3s ease;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 1rem;
}

.toggle-button .toggle-circle {
  width: 25px;
  height: 25px;
  background-color: #fff;
  border-radius: 50%;
  transition: transform 0.3s ease, background-color 0.3s ease;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.2);
}

/* Dark theme styles */
.toggle-button .dark {
  transform: translateX(30px);
  background-color: #f39c12;
}

/* Light theme styles */
.toggle-button .light {
  transform: translateX(0);
  background-color: #3498db;
}


/* MainSection.css : mobile handling */

@media (max-width: 768px) {
  .cards-container {
    grid-template-columns: 1fr;
    grid-template-rows: auto;
  }

  .about-card {
    grid-column: span 1;
  }

  .certificates-experience-container, .social-container {
    grid-column: span 1;
  }

  .card-content img {
    width: 100px; 
    height: 100px;
  }
}

.skills-icons img:hover {
  transform: scale(1.1); 
}
