.tabs {
  display: flex;
  justify-content: center;
  margin-bottom: 1rem;
}

.tab {
  padding: 0.5rem 1rem;
  cursor: pointer;
  border: 1px solid transparent; 
  border-radius: 8px;
  margin: 0 0.5rem;
  text-align: center;
  background-color: black;
  color: white;
  transition: background-color 0.3s ease, color 0.3s ease, transform 0.3s ease, border 0.3s ease;
}

.tab.active {
  background-color: white;
  color: black;
  transform: translateY(-4px); 
  border: 2px solid black; 
}

.tab:hover {
  background-color: white;
  color: black;
  transform: translateY(-4px); 
}


/* Tabs.css */

@media (max-width: 768px) {
  .tabs {
    overflow-x: auto; 
    white-space: nowrap; 
  }

  .tab {
    flex: 1 1 auto; 
    min-width: 100px; 
  }
}
